p
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  font-size: medium;
  }
h1
{
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: x-large;
}
h2
{
  font-family: Arial, Helvetica, sans-serif;
  color: #0000ff;
  font-size: larger;
}
        
footer p
{
font-size: x-small;
}

.entry-title
{
  background-color: #808080;
}
.entry-meta
{
   font-style: italic;       
}       
.author
{       
  font-style: normal;        
}       
#post-5946
{
  background-color: #e2e0e0;
}
#bookList p 
{
  color: #ff6a00;
}     

ul li a 
{
   color: #ff0000;
}

ul :nth-child(odd)
{
    background-color: #d5c1ff;
}
ul :nth-child(even) 
{
    background-color: #ffffff;
}

/*.aside-body p :nth-of-type(odd)
{
    background-color: #d5c1ff;
}

.aside-body p :nth-of-type(even) 
{
   background-color: #ffffff; 
}*/
.wholePage 
{
    /*font-family: 'Segoe UI', Arial, Helvetica, sans-serif;*/
    font-size: 18px;
    color: #0000ff;
    width: 700px;
    margin: 5 auto;
}