 p
{
  color: #000000;
  font-size: medium;
  font-family: 'Segoe UI';
}
h1
{
  color: #ff0000;
  font-size: x-large;
}
h2
{
  color: #0000ff;
  font-size: larger;
}
        
footer p
{
font-size: x-small;
}

.entry-title
{
  background-color: #808080;
}
.entry-meta
{
   font-style: italic;       
}       
.author
{       
  font-style: normal;        
}       
#post-5946
{
  background-color: #e2e0e0;
}
ul li a 
{
    color: #ff0000;
}
/*.entry-content :first-child
{
    color: #00008b;
}*/
ul :nth-child(odd)
{
    background-color: #d5c1ff;
}
ul :nth-child(even) 
{
    background-color: #ffffff;
}