* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #cccccc;
}

ul {
    list-style: none;
}

ul li:nth-child(3) {
    visibility: hidden;
}


ul li {
    width: 150px;
    text-align: center;
    margin: 5px;
    padding: 3px 0 0 10 px;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #cc3333;
    background-color: #cccc99;   
}